@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1>Get to Know Joel</h1>
    <p>
        <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    </p>
    <p>
        <a href="https://baconsale.com/">Baconsale Podcast</a>
    </p>

    <a href="https://baconsale.com/">
        <img src="https://byu.box.com/shared/static/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4.jpg" alt="Baconsale" height="300" />
    </a>
</div>